@font-face {
  font-family: 'RobotoMono' ;
  src: url('./fonts/Roboto/Roboto-Thin.ttf');
}

* {
  font-family: 'Roboto', monospace;
  margin: 0;
  padding: 0;

}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ccc;
  background: linear-gradient(to right, rgb(113, 31, 124), rgb(26, 0, 31));
}

h1 {
  font-weight: 300;
}